ion-toolbar {
	--background: #ba3b46;
	height: 80px;
}
ion-img {
	width: 150px;
}
.align-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.align-middle-icon {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.header-text {
	font-size: 20px;
	color: #ffeedb;
	font-family: 'Montserrat', sans-serif;
}
.link:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: #ffeedb;
}
