<ion-toolbar class="align-middle">
  <ion-buttons slot="end">
  </ion-buttons>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-margin ion-no-padding ion-padding-start" size="4">
        <ion-img src='../assets/imgs/logo.png'> </ion-img>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding align-middle" size="2">
        <ion-text class="header-text" [routerLink]="['/home']">Home</ion-text>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding align-middle" size="2">
        <ion-text class="header-text" [routerLink]="['/funcionamento']">Como funciona</ion-text>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding align-middle" size="2">
        <ion-text class="header-text" [routerLink]="['/sobre']">Sobre nós</ion-text>
      </ion-col>
      <ion-col class="ion-no-margin ion-no-padding align-middle" size="2">
        <ion-text class="header-text">
          Login
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
