ion-content {
	--background: #e5e5e5;
}

ion-toolbar {
	--background: #ba3b46;
	height: 80px;
}

ion-img {
	width: 150px;
}

ion-card {
	width: 500px;
	height: 550px;
	box-shadow: 0px 8px 10px 1px #00000024;
	justify-content: center;
}

.align-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.header-text {
	font-size: 20px;
	color: #ffeedb;
	font-family: 'Montserrat', sans-serif;
}

.main-text {
	font-size: 30px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
}

.secondary-text {
	font-size: 24px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.error {
	opacity: 0;
	color: red;
	transition: all ease-in-out 0.5s;
	font-size: 0.75rem;
	&.show {
		opacity: 1;
	}
}

.simple-text {
	font-size: 18px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	&__nova-conta {
		color: #2467b6;
		text-decoration: underline;
		margin-left: 5px;
	}
	&__nova-conta:hover {
		color: #2467b6;
		text-decoration: underline;
		opacity: 80%;
		cursor: pointer;
	}
}

.padding-start {
	padding-top: 100px;
	padding-left: 150px;
}

ion-input {
	--background: #f9f9f9;
	box-shadow: 5px 5px 5px 1px #00000024;
	border-radius: 20px;
	height: 45px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

ion-select {
	background: #f9f9f9;
	box-shadow: 5px 5px 5px 1px #00000024;
	border-radius: 20px;
	height: 45px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

img {
	width: 300px;
	border-radius: 20px;
}

.red {
	width: 100%;
	height: 50px;
	--border-radius: 10px;
	--background: #ba3b46;
}

.white {
	height: 50px;
	width: 100px;
	--border-radius: 10px;
	color: #000000;
	--background: #f9f9f9;
}

::ng-deep .alert-title.sc-ion-alert-md {
	color: #ba3b46 !important;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
}

.check {
	align-items: baseline;
	justify-content: center;
}

ion-content.background {
	--background: url(../../assets/imgs/image.png) 0 0/100% 100% no-repeat;
}

.ion-justify-content-center {
	justify-content: flex-start;
	margin: 100px 600px 100px 100px;
}

.logo-background {
	margin: 10rem -30rem 0rem 10rem;
	img {
		width: 370px;
		height: 100px;
	}
}
