<!-- <ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar>
                <ion-title>Navigate</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list *ngFor="let pages of navigate">
                <ion-menu-toggle>
                    <ion-item [routerLink]="pages.url" routerDirection="forward">
                        <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                        {{pages.title}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app> -->


<!-- <ion-menu id="side-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Navigate</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="primary">
    <ion-list>
      <ion-menu-toggle auto-hide="false" menu="second">
        <ion-item color="primary" detail="false" [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item color="primary" detail="false" [routerLink]="['/agendamento']">
          <ion-icon src="/assets/icon/file_white.svg"></ion-icon>
          <ion-label>Como funciona</ion-label>
        </ion-item>
        <ion-item color="primary" detail="false" [routerLink]="['/lavagem']">
          <ion-icon src="/assets/icon/validation_white.svg"></ion-icon>
          <ion-label>Contato</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu> -->

<ion-router-outlet></ion-router-outlet>
