<app-header></app-header>
<ion-content class="background">
	<ion-grid>
		<ion-row>
			<ion-col class="padding-start ion-padding-bottom">
				<ion-text class="main-text">Serviço {{servicoNome}}</ion-text>
				<br><br>
				<ion-text class="secondary-text">Escolha o melhor estabelecimento para você!</ion-text>
			</ion-col>
		</ion-row>
		<ion-row class="padding-top ion-justify-content-center">
			<ion-list lines="none">
				<ng-container *ngFor="let item of estabelecimentos">
					<ion-col class="ion-padding-top teste">
						<lavagem-card [servicoNome]="servicoNome" [servicoId]="servicoId" [estabelecimento]="item"></lavagem-card>
					</ion-col>
				</ng-container>
			</ion-list>
		</ion-row>
	</ion-grid>
</ion-content>