ion-content {
    --background: #E5E5E5;
}

ion-toolbar {
    --background: #BA3B46;
    height: 80px;
}

.align-middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.align-middle-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.teste {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-text {
    font-size: 20px;
    color: #FFEEDB;
    font-family: 'Montserrat', sans-serif;
}

.main-text {
    font-size: 30px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.secondary-text {
    font-size: 24px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.padding-start {
    padding-top: 100px;
    padding-left: 150px;
}

.padding-top {
    padding-top: 20px;
}

ion-icon {
    font-size: 80px;
}

ion-list {
    background-color: transparent;
}

ion-item {
    background-color: transparent;
}
