<app-header data-cy="header"></app-header>
<ion-content class="background">
	<ion-grid>
		<ion-row>
			<ion-col class="padding-start ion-padding-bottom">
				<ion-text data-cy="title" class="main-text">Serviços Disponíveis</ion-text>
				<br><br>
				<ion-text class="secondary-text">Selecione o serviço desejado e faça um agendamento em poucos cliques!
				</ion-text>
			</ion-col>
		</ion-row>
		<ion-row class="padding-top">
			<ng-container *ngFor="let item of servicos">
				<ion-col class="ion-padding-top teste">
					<home-card data-cy="cards" routerLink='/lavagem' [queryParams]="{id: item.id, nome: item.nome}"
						[servico]="item"></home-card>
				</ion-col>
			</ng-container>
		</ion-row>
	</ion-grid>
</ion-content>