<app-header></app-header>
<ion-content class="background">
	<ion-grid>
		<ion-row>
			<ion-col class="padding-start padding-end ion-padding-bottom">
				<ion-text class="main-text">Quem somos?</ion-text>
				<br><br>
				<ion-text class="secondary-text">O Drive Up é um projeto da disciplina de Engenharia de Sistemas de Informação
					da USP, desenvolvido pelas alunas Ana Beatriz Cuelbas, Giovana Armani de Lima, Laura Zitelli de Souza e
					Vitória Gonçalves Lorentz. O aplicativo tem como objetivo facilitar e centralizar os serviços
					automobilísticos, como o agendamento de uma lavagem, revisão anual do automóvel, serviços de mecânico, entre
					outros. Desse modo, conseguimos conectar os prestadores de serviços automobilísticos aos seus usuários de
					maneira simples e eficiente.
				</ion-text>
				<br><br>
				<ion-text class="secondary-text">A ideia é que o aplicativo consiga facilitar a vida das
					empresas e de seus
					usuários. Para isso, ao acessar nosso site, é preciso criar uma conta, preenchendo todos os campos
					requisitados. Os campos são diferentes caso você seja uma empresa ou um cliente. Em seguida, basta fazer o
					Login com o email e a senha cadastrados para ter acesso à plataforma. Nela, você irá encontrar uma lista de
					serviços disponíveis e irá conseguir agendar um serviço. Também é possível visualizar e editar alguns dados do
					seu perfil!
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>