<app-header></app-header>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col class="padding-start ion-padding-bottom">
				<ion-text class="main-text">Agendamento - {{servicoNome}}</ion-text>
				<br><br>
			</ion-col>
		</ion-row>
		<ion-row class="padding-top ion-justify-content-center">
			<ion-card>
				<form [formGroup]="form" (ngSubmit)="onSubmit()">

					<ion-grid>
						<ion-row>
							<ion-col size="8">
								<ion-grid>
									<ion-row>
										<ion-col class="ion-padding">
											<ion-text class="secondary-text">Informações Pessoais</ion-text>
											<br><br>
											<ion-text class="simple-text">Nome completo</ion-text>
											<ion-input formControlName="nome"></ion-input>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('nome')?.invalid && form.get('nome')?.touched">
												Informe o nome completo.
											</span>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="ion-padding">
											<ion-text class="simple-text">Telefone</ion-text>
											<ion-input type="tel" formControlName="telefone"></ion-input>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('telefone')?.invalid && form.get('telefone')?.touched">
												Informe um número de telefone válido.
											</span>
										</ion-col>
										<ion-col class="ion-padding">
											<ion-text class="simple-text">
												E-mail
											</ion-text>
											<ion-input formControlName="email"></ion-input>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('email')?.invalid && form.get('email')?.touched">
												O email deve ter o formato exemplo@exemplo.com
											</span>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="ion-padding">
											<ion-text class=" secondary-text "> Serviço</ion-text>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="ion-padding ">
											<ion-text class="simple-text">
												Tipo do veículo
											</ion-text>
											<ion-select formControlName="veiculoTipo">
												<ion-select-option value="Carro">Carro</ion-select-option>
												<ion-select-option value="Moto">Moto</ion-select-option>
												<ion-select-option value="Caminhão">Caminhão</ion-select-option>
											</ion-select>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('veiculoTipo')?.invalid && form.get('veiculoTipo')?.touched">
												Selecione um tipo de veículo.
											</span>
										</ion-col>
										<ion-col class="ion-padding">
											<ion-text class="simple-text ">Opção de serviço</ion-text>
											<ion-select formControlName="servicoTipo">
												<ion-select-option *ngFor="let item of subTipos" [value]="item">{{item.nome}}
												</ion-select-option>
											</ion-select>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('servicoTipo')?.invalid && form.get('servicoTipo')?.touched">
												Selecione um tipo de serviço.
											</span>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-col class="ion-padding">
											<ion-text class="simple-text">Data e Hora</ion-text>
											<ion-select formControlName="horario">
												<ion-select-option *ngFor="let item of horarios" [value]="item">
													{{item.horario}}</ion-select-option>
											</ion-select>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('horario')?.invalid && form.get('horario')?.touched">
												Selecione uma data e um horário.
											</span>
										</ion-col>
										<ion-col class="ion-padding ">
											<ion-text class="simple-text">Opção de pagamento</ion-text>
											<ion-select formControlName="pagamento">
												<ion-select-option value="Crédito">Crédito</ion-select-option>
												<ion-select-option value="Débito">Débito</ion-select-option>
												<ion-select-option value="Dinheiro">Dinheiro</ion-select-option>
												<ion-select-option value="Pic Pay">Pic Pay</ion-select-option>
											</ion-select>
											<br>
											<span class="error ion-padding"
												[class.show]="form.get('pagamento')?.invalid && form.get('pagamento')?.touched">
												Selecione uma forma de pagamento.
											</span>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-col>
							<ion-col class="ion-justify-content-center ion-text-center ion-padding">
								<img class="img" [src]="img"><br><br>
								<ion-text class="secondary-text">{{nome}}</ion-text>
								<br><br>
								<ion-text class="simple-text"><b>Endereço: </b> {{endereco}}
								</ion-text>
								<br><br>
								<ion-text class="simple-text"><b>Horário: </b>{{hora}}</ion-text>
								<br><br>
								<ion-text class="simple-text"><b>Serviço: </b>{{servicoTipo}}</ion-text>
								<br><br>
								<ion-button class="white">Valor: {{valor}}</ion-button>
								<br><br>
								<ion-button class="red" type="submit">Finalizar Agendamento</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>

				</form>
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-content>